<div class="container">
    <div class="header">
        Matos Contatos Manager
    </div>
    <div class="banner">
        <div class="brand">
            <h1>Matos Contatos</h1>
            <button>
                <span class="plus">+</span>
                <span class="nw">New</span>
            </button>
        </div>
        <div class="description">
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. nulla ullam nam corrupti exercitationem.
            quibusdam quos perspiciatis nulla ullam nam corrupti exercitationem.
            </p>
        </div>
        <div class="input-section">
            <input type="text" placeholder="pesquisar Contato">
            <button>pesquisar</button>
        </div>
    </div>
    <div class="main">
        <ul  class="contact-section">
            <li class="contact-list-container">

                <div class="avatar">
                    <img src="#" alt="avatar">
                </div>

                <div class="contact-data">
                    <table>
                        <thead class="theader" >
                            <th scope="col1">Nome:</th>
                            <th scope="col">Email:</th>
                            <th scope="col">Telefone:</th>
                        </thead>
                        <tbody>
                            <td >PAPÁ</td>
                            <td>papa@gmail.com</td>
                            <td>927601899</td>
                        </tbody>
                    </table>
    
                    <div class="contact-data-action">
                        <img src="#" alt="edit-icon">
                        <img src="#" alt="delete-icon">
                    </div>
                </div>
            </li>

            <li class="contact-list-container">
                <div class="avatar">
                    <img src="#" alt="avatar">
                </div>
                <div class="contact-data">
                    <table>
                        <thead class="theader" >
                            <th scope="col1">Nome:</th>
                            <th scope="col">Email:</th>
                            <th scope="col">Telefone:</th>
                        </thead>
                        <tbody>
                            <td >TiaMãe</td>
                            <td>tiaMãe@gmail.com</td>
                            <td>938174499</td>
                        </tbody>
                    </table>
    
                    <div class="contact-data-action">
                        <img src="#" alt="edit-icon">
                        <img src="#" alt="delete-icon">
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <button>
         + add Contact
        </button>
    </div>
</div>